#accountPage {
  background-color: #F9CEB6;
  height: 100%;
  background: url("./web.svg") no-repeat center center fixed  ,
                    -webkit-linear-gradient(top, #F9CEB6, #F5B6B1);
  background: url("./web.svg") repeat center center,
                    linear-gradient(to bottom, #F9CEB6, #F5B6B1);
  background-size: cover;
  background-attachment: fixed;
  padding: 120px 0 80px;
  text-align: center;
}

#messagePage {
  height: 100%;
  background-image: url('./bg2.png');
  background-size: cover;
  padding: 120px 0;
}

body {
  font-family: 'museo-sans','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

button {
  border: none;
  border-radius: 8px;
  background: #F95646;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  padding: 0.6em 1.35em;
  text-decoration: none;
}

button:hover {
  background: #FD8B3D;
  text-decoration: none;
  color: #fff;
}


.btn-select {
  background: none;
  border: 3px solid #FFBA31;
  color: #FFBA31;
  font-size: 24px;
  padding: 10px 20px;
  text-shadow: none;
  transition: none;
  display: block;
  margin: 5px auto;
}

.btn-select:hover {
  background: none;
  border-color: white;
  color: white;
}
.addresses {
  font-size: 16px;
}

.selected {
  margin: 5px auto;
  background-color: #FFBA31;
  border-color: #FFBA31;
  color: #2B363D;
  display: block;
}

.emails {
  width: 40%;
  display: block;
  margin: 5px auto;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

h2 {
  font-size: 21px;
  margin: 0 auto 2em;
  font-weight: normal;
}
.messageContainer {
  width: 50%;
}

.message-group {
  box-sizing: border-box;
  clear: left;
  background-color: rgba(230,230,230,.5);
  min-height: 35px;
}

#messagePage h1,h3 {
  color: #FFBA31;
}

.showHide {
  font-size: 11px;
  background: #fff;
  color: #333;
}

#submit {
  margin: 0 auto;
  clear: both;
}


