#accountPage {
  background-color: #F9CEB6;
  height: 100%;
  background: url("./web.svg") no-repeat center center fixed  ,
                    -webkit-linear-gradient(top, #F9CEB6, #F5B6B1);
  background: url("./web.svg") repeat center center,
                    linear-gradient(to bottom, #F9CEB6, #F5B6B1);
  background-size: cover;
  background-attachment: fixed;
  padding: 120px 0 80px;
  text-align: center;
}

#messagePage {
  background-image: url('./bg2.png');
  background-repeat: repeat;
  padding: 120px 0;
}

body {
  font-family: 'museo-sans','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

button {
  border: none;
  border-radius: 8px;
  background: #F95646;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  padding: 0.6em 1.35em;
  text-decoration: none;
}

button:hover {
  background: #FD8B3D;
  text-decoration: none;
  color: #fff;
}


.btn-select {
  background: none;
  border: 3px solid #FFBA31;
  color: #FFBA31;
  font-size: 24px;
  padding: 10px 20px;
  text-shadow: none;
  transition: none;
  display: block;
  margin: 5px auto;
}

.btn-select:hover {
  background: none;
  border-color: white;
  color: white;
}

.addressContainer {
  width: 100% ;
  margin: 0 auto;
  /*float: right;*/
  position: relative;
  top: -17px;
}
.addresses {
  font-size: 22px;
  margin: 9px auto;
  padding-top: 4px;
  display: block;
  width: 50%;
  text-align: center;
}

.checker {
  height: 20px;
  width: 20px;
}

.emails {
  width: 40%;
  display: block;
  margin: 5px auto;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

h2 {
  font-size: 18px;
  margin: 0 auto 2em;
  font-weight: normal;
  text-align: center;
}

.navbar-default .navbar-nav>li>a {
  color: #333;
  margin-left: 50px;
  font-size: 16px;
}
.messageContainer {
  width: 50%;
  background-color: rgba(230,230,230,.5);
  border-radius: 5px;
  padding: 20px;
}

.message-group {
  clear: left;
  min-height: 35px;
}

#messagePage h1, #messagePage h2, .addresses {
  color: #FFBA31;
}

.navbar {
  margin-bottom: -51px;
  background-color: rgba(248, 248, 248, .75);
}
.showHide {
  color: #fff;
  display: inline;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 14px;
  cursor: pointer;
}

.subjects {
  margin-left: 40px;
}

#submit {
  margin: 10px auto;
  clear: both;
  font-size:18px;
}


